@import "base/variables";
@import "base/mixins";
@import "fonts";
@import "base/reset";

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
* {
    font-family: 'Roboto', sans-serif;
}
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/advent";
@import "blocks/title";
@import "blocks/ourwork";
@import "blocks/agent";
@import "blocks/price";
@import "blocks/consultation";
@import "blocks/menager";
@import "blocks/scheme";
@import "blocks/media";