@import "base/variables";
@import "base/mixins";
@import "fonts";
@import "base/reset";

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}
* {
    font-family: 'Roboto', sans-serif;
}

.pageup {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;

}

@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/header";
@import "blocks/advent";
@import "blocks/title";
@import "blocks/ourwork";
@import "blocks/agent";
@import "blocks/price";
@import "blocks/consultation";
@import "blocks/menager";
@import "blocks/scheme";
@import "blocks/review";
@import "blocks/questions";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/media";