.button {
    width: 160px;
    height: 45px;
    background: $main-color;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
    &:hover {
       box-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff;
    }
}
.btn {
    &-promo {
        width: 235px;
        height: 55px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 30px;
        font-size: 15px;
        font-weight: 700;
    }
}
.btn-price {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    margin: 24px auto 0 auto;
    font-size: 12px;
}
.button_wrap {
    position: absolute;
    padding: 0 10px;
    background: #fff;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.btn-consultation {
    width: 180px;
    height: 45px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}
.btn-questions {
    margin: 16px auto 0 auto;
    width: 180px;
    font-size: 12px;
    line-height: 22px;
    font-weight: 400;
}